@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(32, 32, 32);
  font-family: 'Noto Sans SC', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.modal {
  padding: 60px 100px;
  border-radius: 10px;
  background-color: #e9eff3;
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  text-align: center;
  display: inline-block;
}

h2 {
  color: #343434;
  font-size: 20px;
  margin-bottom: 5px;
}

p {
  font-size: 12px;
  color: #424242;
  margin-bottom: 35px;
}

ul {
  display: flex;
  list-style-type: none;
  margin-bottom: 40px;
  align-items: center;
  justify-content: center;
}

ul li {
  transition: transform ease-in 0.1s;
}

ul li:hover {
  transform: scale(1.04);
}

ul li:not(:last-child) {
  margin-right: 8px;
}

.social-media-icon {
  padding: 6px 15px;
  background: linear-gradient(
    130deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(35, 35, 35, 1) 100%
  );
  font-size: 11px;
  color: white;
  text-decoration: none;
}

.social-media-icon i {
  margin-right: 5px;
}

.fb-icon {
  background: linear-gradient(
    130deg,
    rgba(64, 88, 150, 1) 0%,
    rgba(41, 119, 195, 1) 100%
  );
}

.tw-icon {
  background: linear-gradient(
    130deg,
    rgba(29, 161, 242, 1) 0%,
    rgba(87, 176, 231, 1) 100%
  );
}

.count {
  margin-bottom: 0;
}

.count b {
  font-size: 16px;
  color: #343434;
}

.close-icon {
  position: absolute;
  top: 30px;
  right: 30px;
  line-height: 1;
  font-size: 18px;
  color: #606265;
  background-color: transparent;
  border: 0;
  transition: color ease-in 0.1s;
}

.close-icon:hover {
  color: #000;
  cursor: pointer;
}
